﻿<!doctype html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Faros D'Ajuda</title>

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-inverse navbar-expand-lg navbar-light">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Blog" asp-action="BlogHome">Blog</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Faros na Web
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Contact">Contato</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="About">Sobre Nós</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Album" asp-action="AlbumHome">Álbum</a>
                            <a class="dropdown-item" asp-area="" asp-controller="CarrousselEdit" asp-action="CarrousselHome">Carroussel</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Blog" asp-action="BlogHome">Blog</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Admin</a>
                    </li>
                </ul>
                <!--<form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>-->
            </div>
        </nav>
    </header>
    <br />

    <body>

        @RenderBody()

    </body>
    <footer class="footer-colorful">
        <address>
            <strong>Faros D'Ajuda</strong> Rua Alziro de Oliveira 2800,Jd. Morumbi
            <br> Bragança Paulista,SP
            <br>
            <br>

            Email:abrigofrasodajuda@gmail.com
        </address>

    </footer>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://unpkg.com/popper.js"></script>
    <script src="https://unpkg.com/tooltip.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

</body>
</html>
