﻿@model List<Faros.Common.Arquivo>
@{
    ViewData["Title"] = "CarrousselHome";
}

<div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <h1>Upload Your Images</h1>

    <!--Prod URL
    <form action="FarosFront/CarrousselEdit/UploadImagem" enctype="multipart/form-data" method="post" mu>-->
    <!--Dev URL-->
    <form action="CarrousselEdit/UploadImagem" enctype="multipart/form-data" method="post" mu>
        <input type="file" name="arquivos" multiple />
        <br />
        <br />
        <button id="EnviarArquivos" type="submit" class="btn btn-primary">Enviar Arquivo</button>
    </form>
    <br />


    <div class="album py-5">
        <div class="container">
            <h1 class="page-title">Álbum</h1>
            <br />
            <div class="row">
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {

                        <div class="col-md-4" id="myArea_@item.Id" item-id="@item.Id">
                            <div class="card mb-4 shadow-sm">
                                <!--Prod URL-->
                                <!--<img class="card-img-top" src="FarosFront/CarrousselEdit/VerImagem/?nome=@item.Nome" alt="Card image cap">-->
                                <!--Dev URL-->
                                <img class="card-img-top" src="CarrousselEdit/VerImagem/?nome=@item.Nome" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-text">Arquivo: @item.Nome</p>
                                    Posição: <select class="form-control dropdown" id="PosicaoDropDownList">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                    <br />
                                    Tamanho:<select class=" form-control dropdown" id="TamanhoDropDownList">
                                        <option value="1500x500">1500x500</option>
                                        <option value="140x140">140x140</option>
                                        <option value="500x500">500x500</option>
                                    </select>
                                    <br />
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                                            <button id="edit_@item.Nome" type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                                        </div>
                                        <small class="text-muted">9 mins</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <script>
                             $(document).ready(function () {
                                $("#edit_@item.Nome").click(function () {

                                    var obj = new Object();
                                    var item = $("myArea_@item.Id").parents('[item-id]');
                                    obj.Id = $(item).attr('item-id');
                                    obj.Posicao =$("#PosicaoDropDownList_@item.Nome option:selected").text();
                                    obj.Tamanho=$("TamanhoDropDownList_@item.Nome option:selected").text();

                                    debugger;

                                    let myReturn = obj;
                                    let headers = {};

                                    $.ajax({
                                        url: 'CarrousselEdit/PostArquivo',
                                        type: 'POST',
                                        contentType: 'application/json',
                                        data: JSON.stringify(myReturn),
                                        headers:headers

                                    });

                                });
                            });
                        </script>




                    }

                }



                <!--<nav aria-label="Page navigation example align-content-center">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>-->

            </div>
        </div>

    </div>
</div>

@*@section Scripts
{
    <script type="text/javascript">
        function clickEnvio(btn) {
            var linhaDoItem = $(btn).parents('[item-id]');
            var itemId = $(linhaDoItem).attr('item-id');
            var number = document.getElementById(itemId).value;
            
            alert(number);
        }



    </script>



}*@