﻿
@{
    ViewData["Title"] = "CarrousselEdit";
}

<h2>CarrousselEdit</h2>

<div>
    <h1>Upload Your Images</h1>
    <form asp-controller="CarrousselEditController" asp-action="UploadFile" method="post"
          enctype="multipart/form-data">

        <input type="file" accept="image/jpeg, image/png" name="file"/>
        <button type="submit">Upload File</button>
    </form>

    <div id="response"></div>
    <ul id="image-list"></ul>
</div>